<section class="hero" style="background: url('<%= asset_path("carpet1.jpg") %>') no-repeat center center; background-size: cover;">
    <div class="container">
        <h2>Welcome to GT Carpets</h2>
        <p>Your first choice for quality carpet solutions.</p>
        <%= link_to "Instant Prices. Click Here", "#calculator", class: "btn" %>
    </div>
</section> 