<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>New Contact Form Submission</title>
</head>
<body>
  <h2>New Contact Form Submission</h2>
  <p><strong>Name:</strong> <%= @name %></p>
  <p><strong>Email:</strong> <%= @email %></p>
  <p><strong>Message:</strong> <%= @message %></p>
</body>
</html>

